/* Fullscreen map */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

/* Search bar at the top-left */
.search-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    z-index: 1000;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logout button */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #dc3545;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Locate button at the bottom-right */
.locate-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Right drawer */
.drawer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: white;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: auto;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.drawer-open {
    transform: translateX(0);
}

.drawer-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Drawer toggle handle */
.drawer-toggle {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 20px;
    height: 50px;
    background-color: gray;
    border-radius: 50px;
    cursor: pointer;
}

/* Star rating */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: gray;
    cursor: pointer;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}

.star-display {
    color: gold;
    font-size: 1.5em;
}

/* Review list */
/* Ajustes no estilo do drawer para maior clareza */
.drawer .drawer-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.drawer .star-display span {
    font-size: 1.2rem;
    color: #ffc107;
    /* Cor das estrelas */
}

.drawer .badge {
    font-size: 1rem;
    padding: 0.5rem;
}

/* Estilo para os horários */
#drawer-horario-abertura,
#drawer-horario-fechamento {
    font-weight: bold;
    color: #495057;
    /* Cor discreta para texto */
}